<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- JAVASCRIPT FILES ========================================= -->
<script src="/assets/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="/assets/plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="/assets/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="/assets/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="/assets/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="/assets/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="/assets/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="/assets/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="/assets/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="/assets/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="/assets/plugins/rangeslider/rangeslider.js" ></script><!-- Rangeslider -->
<script src="/assets/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="/assets/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="/assets/js/dz.ajax.js"></script><!-- CONTACT JS  -->
<app-footer></app-footer>
