{{>layout/header}}
{{>layout/navbar-admin}}
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- contact area -->
            <div class="content-block">
                <!-- Browse Jobs -->
                <div class="section-full bg-white browse-job content-inner-2">
                    <div class="container">
                        <!--<div class="row">-->
                        <div class="class=" col-md-12 text-center "">
                            <h5 class="widget-title font-weight-700 text-uppercase">Usuarios</h5>
                            <ul class="post-job-bx">
                            {{#users}}
                                <li>
                                    <a>
                                        <div class="d-flex m-b30">
                                            <div class="job-post-company">
                                                <span><img src="/images/logo/icon1.png"/></span>
                                            </div>
                                            <div class="job-post-info">
                                                <h4>{{name}} {{surname}}</h4>
                                                <ul>
                                                    <li><i class="fa fa-map-marker"></i>{{city}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <form id="DeleteVolunteering" class="tab-pane active col-12 p-a0 " action="/admin/deleteUser/{{id}}" method="POST">
										<div class="text-left">
											<button class="site-button m-r5 button-lg">eliminar</button> 
										</div>
								</form>
                                    </a>
                                </li>
                              {{/users}}  
                            </ul>
                         
                        </div>

                        <!--</div>-->
                    </div>
                </div>
                <!-- Browse Jobs END -->
            </div>
        </div>
        <!-- Content END-->
{{>layout/footer}}