{{>layout/header}}
{{^logged}}
{{>layout/navbar-anonymous}}
{{/logged}}

{{#logged}}
{{#logged_user}}
{{>layout/navbar-user}}
{{/logged_user}}

{{#logged_admin}}
{{>layout/navbar-admin}}
{{/logged_admin}}

{{#logged_ong}}
{{>layout/navbar-ong}}
{{/logged_ong}}
{{/logged}}

        <!-- Content -->
        <div class="page-content">
            <!-- Error Page -->
            <div class="section-full content-inner-3 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 error-page text-center">
                            <h2 class="dz_error text-secondry">404</h2>
                            <h4>Lo sentimos</h4>
                            <h5 class="text-primary">No hemos encontrado la página que buscas</h5>
                            <a href="/" class="site-button">Volver a Inicio</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Error Page END -->
        </div>
        <!-- Content END-->
{{>layout/footer}}