<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="VoluntaWeb - Portal para encontrar voluntariados gratis" />
	<meta property="og:title" content="VoluntaWeb" />
	<meta property="og:description" content="VoluntaWeb - Portal para encontrar voluntariados gratis" />
	<meta property="og:image" content="VoluntaWeb" />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

	<!-- PAGE TITLE HERE -->
	<title>VoluntaWeb - Hola</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
	<link rel="stylesheet" href="plugins/datepicker/css/bootstrap-datetimepicker.min.css" />
	<!-- Revolution Slider Css -->
	<link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">
	<!-- Revolution Navigation Style -->
</head>

<body id="bg">
	<div class="page-wraper">
		<div id="loading-area"></div>
		<!-- header -->
		<header class="site-header mo-left header fullwidth">
			<!-- main header -->
			<div class="sticky-header main-bar-wraper navbar-expand-lg">
				<div class="main-bar clearfix">
					<div class="container clearfix">
						<!-- website logo -->
						<div class="logo-header mostion">
							<a href="index.html"><img src="images/logo.png" class="logo" alt=""></a>
						</div>
						<!-- nav toggle button -->
						<!-- nav toggle button -->
						<button class="navbar-toggler collapsed navicon justify-content-end" type="button"
							data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
							aria-expanded="false" aria-label="Toggle navigation">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- extra nav -->
						<div class="extra-nav">
							<div class="extra-cell">
								<a href="register.html" class="site-button"><i class="fa fa-user"></i> Regístrate</a>
								<a href="login.html" class="site-button"><i class="fa fa-lock"></i> Inicia sesión</a>
							</div>
						</div>
						<!-- Quik search -->
						<div class="dez-quik-search bg-primary">
							<form action="#">
								<input name="search" value="" type="text" class="form-control"
									placeholder="Escribe algo para buscar">
								<span id="quik-search-remove"><i class="flaticon-close"></i></span>
							</form>
						</div>
						<!-- main nav -->
						<div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
							<ul class="nav navbar-nav">
								<li>
									<a href="index.html">Inicio</a>
								</li>
								<li>
									<a href="searches.html">Voluntariados</a>
								</li>
								<li><a href="ongs.html">ONGs</a></li>
								<li class="search-box">
									<form role="search" method="get" id="searchform" action="">
										<label for="search-input">
											<i class="fa fa-search"></i>
										</label>
										<input type="text" value="" placeholder="Buscar..." class=""
											id="search-input" />
									</form>
								</li>
								<li class="ls-mobile">
									<a href="register.html">Regístrate <i class="fa fa-user"></i></a>
								</li>
								<li class="ls-mobile">
									<a href="login.html">Inicia sesión <i class="fa fa-lock"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- main header END -->
		</header>
		<!-- header END -->
		<!-- Content -->
		<div class="page-content bg-white">
			<!-- inner page banner -->
			<div class="dez-bnr-inr overlay-black-middle"
				style="background-image:url(images/background/Volunteerswalk.jpg);">
				<div class="container">
					<div class="dez-bnr-inr-entry">
						<h1 class="text-white">Crear anuncio</h1>
						<!-- Breadcrumb row -->
						<div class="breadcrumb-row">
							<ul class="list-inline">
								<li><a href="index.html">Inicio</a></li>
								<li>Crear anuncio</li>
							</ul>
						</div>
						<!-- Breadcrumb row END -->
					</div>
				</div>
			</div>
			<!-- inner page banner END -->
			<!-- panel area -->
			<div class="py-4">

				<div class="row justify-content-center">
					<div class="col-md-8">


						<div class="card">
							<div class="card-header">Anuncio</div>

							<div class="card-body">
								<!-- Settings form -->
								<form method="POST" action="#" enctype="multipart/form-data">


									<div class="form-group row">
										<label for="name" class="col-md-4 col-form-label text-md-right">Nombre</label>

										<div class="col-md-6">
											<input id="name" type="text" class="form-control" name="name"
												placeholder="Nombre" required autocomplete="name" autofocus>
										</div>
									</div>

									<div class="form-group row">
										<label for="city"
											class="col-md-4 col-form-label text-md-right">Ciudad</label>

										<div class="col-md-6">
											<input id="city" type="text" class="form-control" name="city"
												placeholder="Ciudad" required autocomplete="city" autofocus>
										</div>
									</div>

									<div class="form-group row">
										<label for="category" class="col-md-4 col-form-label text-md-right">Categoría</label>
                                        
                                        <div class="col-md-6">
                                            <select>
                                                <option>Ayuda humanitaria</option>
                                                <option>Cooperación al desarrollo</option>
                                                <option>Cultura y arte social</option>
                                                <option>Derechos humanos</option>
                                                <option>Inmigración, refugio y asilo</option>
                                                <option>Medio ambiente</option>
                                                <option>Personas en riesgo de exclusión</option>
                                                <option>Personas sin hogar</option>
                                                <option>Protección de animales</option>
                                                <option>Salud</option>
                                            </select>
                                        </div>

                                    </div>
                                    

                                    <div class="form-group row">
										<label for="initdate"
											class="col-md-4 col-form-label text-md-right">Fecha de inicio</label>

										<div class="col-md-6">
											<input id="initdate" type="date" class="form-control" name="initdate"
												placeholder="Fecha de inicio" required autocomplete="initdate" autofocus>
										</div>
                                    </div>
                                    
                                    <div class="form-group row">
										<label for="enddate"
											class="col-md-4 col-form-label text-md-right">Fecha de finalización</label>

										<div class="col-md-6">
											<input id="enddate" type="date" class="form-control" name="enddate"
												placeholder="Fecha de finalización" required autocomplete="enddate" autofocus>
										</div>
                                    </div>



									<div class="form-group row">
										<label for="description" class="col-md-4 col-form-label text-md-right">Descripción</label>

										<div class="col-md-6">
                                                 <textarea class="form-control" placeholder="Descripción"></textarea>
										</div>
									</div>
									<div class="form-group row">
										<label for="image_path" class="col-md-4 col-form-label text-md-right">Foto del
											anuncio</label>

										<div class="col-md-6">
											<input id="image_path" type="file" class="form-control" name="image_path"
												autocomplete="image_path">
										</div>
									</div>



									<div class="form-group row mb-0">
										<div class="col-md-6 offset-md-4">
											<button type="submit" class="btn btn-primary">
												Guardar cambios
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Content END-->
		<!-- Footer -->
		<footer class="site-footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
							<div class="widget">
								<img src="images/logo.png" width="250" class="m-b15" alt="" />
								<p class="text-capitalize m-b20">Plataforma líder en la búsqueda de voluntariados y
									ONGs.</p>
								<div class="subscribe-form m-b20">
									<div class="icon-content">
										<h6 class="text-uppercase m-tb0 dez-tilte"><i class="ti-location-pin"></i>
											Dirección:</h6>
										<p>Calle Tulipán, s/n, 28933 Móstoles, Madrid</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
							<div class="widget border-0">
								<h5 class="m-b30 text-white">Enlaces de interés</h5>
								<ul class="list-line">
									<li><a href="about-us.html">¿Quiénes somos?</a></li>
									<li><a href="contact.html">Contacto</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer bottom part -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center"><span><a target="_blank" href="https://www.urjc.es">DAW GIS
									2019-2020</a></span></div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer END -->
		<button class="scroltop fa fa-chevron-up"></button>
	</div>
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
	<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
	<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
	<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
	<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
	<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
	<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
	<script src="plugins/rangeslider/rangeslider.js"></script><!-- Rangeslider -->
	<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
	<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
	<script src='js/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
	<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->
	<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER -->
</body>


</html>