{{>layout/header}}
{{^logged}}
{{>layout/navbar-anonymous}}
{{/logged}}

{{#logged}}
{{>layout/navbar-user}}
{{/logged}}

{{#logged_admin}}
{{>layout/navbar-admin}}
{{/logged_admin}}

{{#logged_ong}}
{{>layout/navbar-ong}}
{{/logged_ong}}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/images/background/Volunteerswalk.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">ONGs</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Inicio</a></li>
							<li>ONGs</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Find Job -->
			<div class="section-full bg-white content-inner">
				<div class="container">
					<ul class="post-job-bx">
					{{#ngos}}
						<li>
							<a href="/ongs/{{id}}">
		                        <div class="d-flex m-b30">
		                            <div class="job-post-company">
		                                <span><img src="/images/ong/image-{{id}}.jpg"></span>
		                            </div>
		                            <div class="job-post-info">
		                                <h4>{{name}}</h4>
		                                <ul>
		                                    <li><i class="fa fa-map-marker"></i> {{address}}</li>
		                                </ul>
		                            </div>
		                        </div>
		                    </a>
	                    </li>
					{{/ngos}}
					</ul>
				</div>
			</div>
            <!-- Find Job END -->
		</div>
    </div>
    <!-- Content END-->
{{>layout/footer}}