{{>layout/header}}

{{^logged}}
{{>layout/navbar-anonymous}}
{{/logged}}

{{#logged}}
{{>layout/navbar-user}}
{{/logged}}
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/images/background/Volunteerswalk.jpg);">
                <div class="container">
                    <div class="dez-bnr-inr-entry">
                        <h1 class="text-white">Resultados de búsqueda</h1>
                        <!-- Breadcrumb row -->
                        <div class="breadcrumb-row">
                            <ul class="list-inline">
                                <li><a href="/">Inicio</a></li>
                                <li>Resultados de búsqueda</li>
                            </ul>
                        </div>
                        <!-- Breadcrumb row END -->
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            <!-- contact area -->
            <div class="content-block">
                <!-- Browse Jobs -->
                <div class="section-full bg-white browse-job content-inner-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-8">
                                <ul class="post-job-bx">
                                {{#volunteerings}}
                                    <li>
                                        <a href="/volunteering/{{id}}">
                                            <div class="d-flex m-b30">
                                                <div class="job-post-company">
                                                    <span><img src="/images/logo/icon1.png"/></span>
                                                </div>
                                                <div class="job-post-info">
                                                    <h4>{{name}}</h4>
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i>{{city}} </li>
                                                        <li><i class="fa fa-bookmark-o"></i>ONG</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="job-time mr-auto">
                                                    <span>{{category}}</span>
                                                </div>
                                                <div class="pagination-bx">
                                                    <span>{{ong}}</span>
                                                </div>
                                            </div>
                                           
                                        </a>
                                    </li>
                                    {{/volunteerings}}
                                    
                                    {{#volunteeringscat}}
                                        <a href="/volunteering/{{id}}">
                                            <div class="d-flex m-b30">
                                                <div class="job-post-company">
                                                    <span><img src="/images/logo/icon1.png"/></span>
                                                </div>
                                                <div class="job-post-info">
                                                    <h4>{{name}}</h4>
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i>{{city}} </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="job-time mr-auto">
                                                    <span>{{category}}</span>
                                                </div>
                                                <div class="pagination-bx">
                                                    <span>{{ong}}</span>
                                                </div>
                                            </div>
                                            <span class="post-like fa fa-heart-o"></span>
                                        </a>
                                    </li>
                                    {{/volunteeringscat}}

                                </ul>
                                <!--<div class="pagination-bx m-t30">
                                    <ul class="pagination">
                                        <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
                                    </ul>
                                </div>-->
                            </div>
                            <div class="col-xl-3 col-lg-4">
                                <div class="sticky-top">
                                    
                                    <div class="clearfix m-b30">
                                    <form action="/search" method="GET">
                                        <h5 class="widget-title font-weight-700 text-uppercase">Palabras clave</h5>
                                        	{{#search}}
                                            <input type="text" name="s" class="form-control" placeholder="Buscar" value="{{search}}">
                                            {{/search}}
                                            {{^search}}
                                            <input type="text" name="s" class="form-control" placeholder="Buscar">
                                            {{/search}}
                                            <br>
                                            <input type="submit" class="site-button btn-block" value="Buscar">
                                    </form>
                                    </div>
                                    
                                    
                                    <div class="clearfix">
                                    <form action="/search/cat" method="GET">
                                        <h5 class="widget-title font-weight-700 text-uppercase">Categorias</h5>
                                        <select name="category">
                                        	{{#categories}}
												<option value="{{id}}">{{name}}</option>
											{{/categories}}
										</select>
										<br>
										<input type="submit" class="site-button btn-block" value="Buscar">
										</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Browse Jobs END -->
            </div>
        </div>
        <!-- Content END-->
{{>layout/footer}}